*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    /*padding: 0;
    margin: 0;*/
}



body {
    background-color: #e6e3e3; 
}

.header{
    display: flex;

}


.menuList {
    color: #d8715a;
    display: flex;
    width: 800px ;
    background: #915ad8;
    justify-content: space-around;
    color-scheme:#915ad8 ;

}   
.menuList li{
    align-items: center;
    color: #070404;
    
}
.title {
    color: #FF5733; 
    font-size: 60px; 
    font-family: Arial, sans-serif; 
    display: inline-block;
}

h2{
    font-family: Arial, sans-serif; 
    color: #FF5733; 
}

h3{
    font-family: Arial, sans-serif; 
    color: #d8715a;
}

.paragraph-one{
    color: #6E6E6E;
    font-family: Arial, sans-serif;
    
}

